!!!5
html
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#")
    script var _sf_startpt=(new Date()).getTime();var Plop = {sid: '#{sid}', env: '#{config.environment}'}
    != css('application')    
    //if lt IE 9
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
    meta(property='fb:app_id', content=config.facebook.app_id)
    if typeof post != 'undefined'
      != partial('meta/post', { locals: { post: post } })
      script Plop.load = !{post.toJson()}
    else
      != partial('meta/site', { locals: { title: title } })

  body
    .wrapper
      include navbar
      .container
        .row
          section.span9.main
            ul#tabs.nav.nav-tabs
                li(data-tab-name="hot")
                  a(href="/") Lo Mejor
                li(data-tab-name="new")
                  a(href="/nuevo") Lo Nuevo
            .module          
              #posts

          section.span3.right
            .module.social
              h4 ¿Te gusta? ¡Muéstralo!
              .fb-like(data-send="false", data-layout="standard", data-width="225", data-show-faces="true", data-href="https://www.facebook.com/pages/Plop/100430726755589")
              hr
              iframe.twitter-follow-button(allowtransparency='true', frameborder='0', scrolling='no', src='//platform.twitter.com/widgets/follow_button.html?screen_name=plop_pe&lang=es')

      #loader(style='background-image:url(#{img('loader.gif')})')     
      a#back-to-top.offscreen
        strong Arriba

      .push

    include footer

    #fb-root

    script Plop.templates = !{templates.partials()}
    script(src="/socket.io/socket.io.js")    
    != js('application')
    
    if process.env.NODE_ENV == 'development'
      script Hoptoad.suppress()
      script Plop.debug = true
    else
      include chartbeat.html